article
	.content
		.left
			.image-wrapper(id='image')
				img(src='#{data.images.landscape.url}' alt='Image')			
				.play-wrapper
					.play(onClick='showTrailer()')
						span(class='fa fa-chevron-right')
			.trailer(class='hidden', id='trailer')!= data.trailer
			p 
				a(href='#') Felanmäl filmen			
		.right
			h1 #{data.title}				
			h2 <span>#{data.category}</span> <span>#{data.year}</span> <span>#{data.time}</span>			
			p <img src="http://assets.viaplay.tv/frontend-2016061601/images/imdb.svg" alt="imdb" class="imdb"> <strong>#{data.imdb.rating}</strong> från #{data.imdb.votes} användare
			p #{data.description}
			ul
				li <strong>Skådespelare</strong>: 
				each actor in data.people.actors
					li 
						a(href='#') #{actor}
			ul
				li <strong>Regissör</strong>: 
				each director in data.people.directors
					li 
						a(href='#') #{director}					
			p(class='country') <strong>Land</strong>: #{data.country}			
			each flag in data.flags
				.box
					p.
						#{flag}
			.box
				p. 
					#{data.parentalRating}
			.star
				p(class='fa fa-star')