footer
	.col		
		img(src='http://assets.viaplay.tv/frontend-2016061302/images/footer_logo_on_dark.png' alt='Viaplay logo')/		
	.col
		h3.
			Viaplay
		ul
			li
				a(href='#'). 
					Serier
			li
				a(href='#'). 
					Film
			li
				a(href='#'). 
					Sport
			li
				a(href='#'). 
					Barn
			li
				a(href='#'). 
					Store					
			li
				a(href='#'). 
					Prova Viaplay	

	.col
		h3.
			Om oss
		ul
			li
				a(href='#'). 
					Serier
			li
				a(href='#'). 
					Film
			li
				a(href='#'). 
					Sport
			li
				a(href='#'). 
					Barn
			li
				a(href='#'). 
					Store					
			li
				a(href='#'). 
					Prova Viaplay
	.col
		h3.
			Information
		ul
			li
				a(href='#'). 
					Serier
			li
				a(href='#'). 
					Film
			li
				a(href='#'). 
					Sport
			li
				a(href='#'). 
					Barn
			li
				a(href='#'). 
					Store					
			li
				a(href='#'). 
					Prova Viaplay
	.col
		h3.
			Följ oss
		ul
			li
				a(href='#'). 
					Serier
			li
				a(href='#'). 
					Film
			li
				a(href='#'). 
					Sport
			li
				a(href='#'). 
					Barn
			li
				a(href='#'). 
					Store					
			li
				a(href='#'). 
					Prova Viaplay
	.col
		h3.
			Tv
		ul
			li
				a(href='#'). 
					Serier
			li
				a(href='#'). 
					Film
			li
				a(href='#'). 
					Sport
			li
				a(href='#'). 
					Barn
			li
				a(href='#'). 
					Store					
			li
				a(href='#'). 
					Prova Viaplay