head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
  meta(name="viewport", content="width=device-width,initial-scale=1")

  title= title

  meta(name="description", content= description)
  meta(name="og:image", content= metaImage)
  link(rel="canonical", href= url)
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto", type='text/css')
  link(href="//netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css", rel="stylesheet")
  link(rel="stylesheet", href="/css/app-min.css")