header 
	.mobile-menu
		p(class='fa fa-bars')
	.logo
		img(src='http://assets.viaplay.tv/frontend-2016061302/images/header-logo-large.png' alt='Viaplay logo')/
	nav 
		ul
			li
				a(href='#').
					Serier
			li
				a(href='#' class='active').
					Film
			li
				a(href='#').
					Sport
			li
				a(href='#').
					Barn
			li 
				a(href='#').
					Hyrbutik

	.profile
		a(href='#') John Doe <span class="fa fa-angle-down"></span>
			

	.search
		.circle
			p(class='fa fa-search')