div.container {
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto; }
  div.container:after {
    content: " ";
    display: block;
    clear: both; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #212d33;
  margin: 0;
  font-family: 'Roboto', sans-serif; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

header {
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto;
  height: 69px;
  text-transform: uppercase; }
  header:after {
    content: " ";
    display: block;
    clear: both; }
  header a {
    color: white; }
    header a:hover {
      text-decoration: none;
      color: white; }
  header .mobile-menu {
    display: none; }
    header .mobile-menu p {
      color: white;
      font-size: 28px;
      margin: 0;
      margin-top: 20px;
      margin-left: 20px; }
    @media screen and (max-width: 1200px) {
      header .mobile-menu {
        width: 32.20339%;
        float: left;
        margin-right: 1.69492%;
        display: block; } }
  header .logo {
    width: 15.25424%;
    float: left;
    margin-right: 1.69492%;
    margin-top: 14px; }
    header .logo img {
      width: 160px; }
    @media screen and (max-width: 1200px) {
      header .logo {
        width: 32.20339%;
        float: left;
        margin-right: 1.69492%; } }
  header nav {
    width: 57.62712%;
    float: left;
    margin-right: 1.69492%; }
    header nav ul {
      list-style-type: none;
      margin: 0; }
      header nav ul li {
        display: inline-block; }
        header nav ul li a {
          padding: 25px;
          display: inline-block; }
          header nav ul li a.active, header nav ul li a.active:hover {
            background-color: white;
            color: black; }
          header nav ul li a:hover {
            background-color: #0f161a; }
    @media screen and (max-width: 1200px) {
      header nav {
        display: none; } }
  header .profile {
    width: 15.25424%;
    float: left;
    margin-right: 1.69492%;
    text-align: center; }
    header .profile a {
      padding: 25px;
      display: inline-block;
      text-transform: capitalize; }
      header .profile a:hover {
        background-color: #0f161a; }
      header .profile a span {
        margin-left: 5px; }
    @media screen and (max-width: 1200px) {
      header .profile {
        width: 32.20339%;
        float: left;
        margin-right: 1.69492%;
        margin-right: 0;
        text-align: right; } }
  header .search {
    width: 6.77966%;
    float: left;
    margin-right: 1.69492%;
    margin-right: 0; }
    header .search .circle {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background-color: white;
      margin-top: 16px; }
      header .search .circle p {
        margin-top: 9px;
        width: 100%;
        text-align: center;
        cursor: pointer; }
    @media screen and (max-width: 1200px) {
      header .search {
        display: none; } }

article {
  background-color: white; }
  article h1 {
    font-size: 2.2rem;
    margin-top: 43px;
    margin-bottom: 0px;
    font-weight: 300; }
  article h2 {
    font-weight: 300;
    margin-top: 8px; }
    article h2 span {
      border-right: 1px solid #a4a6ab;
      padding-right: 13px;
      font-size: 1.4rem; }
      article h2 span:last-of-type {
        border: none; }
  article p {
    line-height: 22px; }
  article a {
    color: #4b737c; }
  article ul {
    list-style-type: none;
    margin: 0;
    margin-bottom: 5px;
    padding: 0; }
    article ul li {
      display: inline-block;
      margin-right: 5px; }
  article .content {
    max-width: 1060px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box; }
    article .content:after {
      content: " ";
      display: block;
      clear: both; }
  article .left {
    width: 57.62712%;
    float: left;
    margin-right: 1.69492%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 20px; }
    article .left img {
      width: 100%; }
    article .left p {
      margin-top: 5px; }
    article .left .image-wrapper {
      position: relative; }
    article .left .play-wrapper {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%; }
      article .left .play-wrapper .play {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100px;
        height: 100px;
        border: 2px solid white;
        border-radius: 50%;
        color: white;
        font-size: 47px;
        text-align: center;
        padding-top: 22px;
        cursor: pointer;
        -moz-transition: all ease-in-out 100ms;
        -o-transition: all ease-in-out 100ms;
        -webkit-transition: all ease-in-out 100ms;
        transition: all ease-in-out 100ms; }
        article .left .play-wrapper .play span {
          -moz-transition: all ease-in-out 100ms;
          -o-transition: all ease-in-out 100ms;
          -webkit-transition: all ease-in-out 100ms;
          transition: all ease-in-out 100ms; }
        article .left .play-wrapper .play:hover {
          border: 2px solid #0f161a; }
          article .left .play-wrapper .play:hover span {
            color: #0f161a; }
    article .left .trailer {
      margin-bottom: 9px; }
    article .left .embed-ta {
      border: none; }
    article .left .hidden {
      display: none; }
    @media screen and (max-width: 1200px) {
      article .left {
        padding: 0;
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0; } }
  article .right {
    width: 40.67797%;
    float: left;
    margin-right: 1.69492%;
    margin-right: 0;
    padding-bottom: 50px; }
    article .right .imdb {
      width: 35px;
      margin-right: 5px; }
    article .right .star {
      border: 1px solid #afb3b2;
      border-radius: 2px;
      width: 30px;
      height: 30px;
      text-align: center;
      margin-top: 20px; }
      article .right .star p {
        margin-top: 6px;
        color: #afb3b2; }
    article .right .country {
      margin-top: 5px; }
    @media screen and (max-width: 1200px) {
      article .right {
        padding: 10px;
        padding-bottom: 50px;
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0; }
        article .right h1 {
          margin-top: 10px; } }
  article .box {
    width: auto;
    background-color: #20262a;
    color: white;
    text-align: center;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    border-radius: 2px;
    margin-right: 2px; }
    article .box p {
      margin: 0;
      font-size: 0.7rem;
      line-height: 15px;
      text-transform: uppercase; }

footer {
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px; }
  footer:after {
    content: " ";
    display: block;
    clear: both; }
  footer .col {
    width: 15.25424%;
    float: left;
    margin-right: 1.69492%; }
    footer .col:last-of-type {
      margin: 0; }
  footer h3 {
    color: white;
    text-transform: uppercase;
    font-size: 1rem;
    margin-top: 0;
    font-weight: 300; }
  footer a {
    color: #a4a6ab; }
    footer a:hover {
      color: #a4a6ab; }
  footer ul {
    list-style-type: none;
    padding: 0; }
    footer ul li {
      margin-bottom: 10px; }
