$susy: (
    columns: 12,
    container: 1060px,
    gutters: 1/4,
    global-box-sizing: border-box,
    //debug: (image: show)
);

div.container {
    @include container;
}

* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

body {
    background: $background;
    margin:0;
    font-family: 'Roboto', sans-serif;
}

a {
	text-decoration:none;
	&:hover {
		text-decoration:underline;
	}
}