$background: #212d33;
$articleBackground: white;
$linkColor: white;
$headerHoverBackground: #0f161a;
$footerTitleColor: white;
$footerLinkColor: #a4a6ab;
$h2SeparatorArtilce: #a4a6ab; 
$articleLinkColor: #4b737c;
$playBtnHover: #0f161a;
$star: #afb3b2;
$break-small: 320px;
$break-large: 1200px;