article {	
	background-color:$articleBackground;
	h1 {
		font-size: 2.2rem;
    	margin-top: 43px;
    	margin-bottom: 0px;
    	font-weight: 300;    	
	}
	h2 {
		font-weight: 300;
		margin-top: 8px;
		span {
			border-right:1px solid $h2SeparatorArtilce;
			padding-right: 13px;
			font-size: 1.4rem;
			&:last-of-type {
				border:none;
			}
		}
	}
	p {
		line-height: 22px;
	}
	a {
		color: $articleLinkColor;
	}
	ul {
		list-style-type: none;
		margin:0;
		margin-bottom:5px;
		padding:0;
		li {
			display: inline-block;	
			margin-right:5px;
		}
	}
	.content {
		@include container;
		box-sizing: border-box;
	}
	.left {
		@include span(7 of 12);
		padding-top:50px;
		padding-bottom:50px;
		padding-right:20px;
		img {
			width: 100%;
		}
		p {
			margin-top:5px;
		}
		.image-wrapper {
			position:relative;
		}
		.play-wrapper {
			position:absolute;
			top:0;
			width:100%;
			height:100%;
			.play {
				position: absolute;
				top: 50%; left: 50%;
				transform: translate(-50%,-50%);
				width:100px;
				height:100px;
				border:2px solid white;
				border-radius:50%;
				color: white;
			    font-size: 47px;
			    text-align: center;
			    padding-top: 22px;
			    cursor:pointer;
			    @include transition(all ease-in-out 100ms);
			    span {
				    @include transition(all ease-in-out 100ms);		    	
			    }
			    &:hover {
			    	border:2px solid $playBtnHover;
			    	span {
			    		color:$playBtnHover;
			    	}			    	
			    }
			}
		}
		.trailer {
			margin-bottom:9px;
		}
		.embed-ta {
			border:none;
		}
		.hidden {
			display:none;
		}
		@media screen and (max-width: $break-large) {
			padding:0;
			@include span(12 of 12);
		}
	}
	.right {
		@include span(5 of 12);
		margin-right:0;
		padding-bottom:50px;
		.imdb {
			width:35px;
			margin-right:5px;
		}
		.star {
			border:1px solid $star;
			border-radius:2px;
			width:30px;
			height:30px;
			text-align:center;
			margin-top:20px;
			p {
				margin-top: 6px;
				color:$star;
			}
		}
		.country {
			margin-top:5px;
		}
		@media screen and (max-width: $break-large) {
			padding:10px;
			padding-bottom:50px;
			h1 {
				margin-top:10px;
			}
    		@include span(12 of 12);
		}
	}
	.box {
		width:auto;
		background-color:#20262a;
		color:white;
		text-align:center;
		padding:5px;
		padding-left:10px;
		padding-right:10px;
		display:inline-block;
		border-radius:2px;
		margin-right:2px;
		p {
			margin:0;
			font-size: 0.7rem;
			line-height: 15px;
			text-transform: uppercase;
		}
	}
}