footer {
	@include container;
	padding-top:30px;
	.col {
		@include span(2 of 12);
		&:last-of-type {
			margin:0;
		}
	}
	h3 {
		color:$footerTitleColor;
	    text-transform: uppercase;
	    font-size: 1rem;
	    margin-top: 0;
	    font-weight: 300;
	}
	a {
		color:$footerLinkColor;
		&:hover {
			color:$footerLinkColor;
		}
	}
	ul {
		list-style-type: none;
		padding:0;
		li {
			margin-bottom:10px;
		}
	}
}