header {
	@include container;
	height:69px;
	text-transform: uppercase;
	a {
		color:$linkColor;
		&:hover {
			text-decoration:none;
			color:$linkColor;
		}
	}
	.mobile-menu {
		display:none;
		p {
		    color: white;
		    font-size: 28px;
		    margin: 0;
		    margin-top: 20px;
		    margin-left: 20px;			
		}
		@media screen and (max-width: $break-large) {
    		@include span(4 of 12);
    		display:block;
		}
	}
	.logo {
		@include span(2 of 12);
		margin-top: 14px;
		img {
			width:160px;
		}
		@media screen and (max-width: $break-large) {
    		@include span(4 of 12);
		}
	}
	nav {
		@include span(7 of 12);
		ul {
			list-style-type: none;
			margin:0;
			li {
				display: inline-block;				
				a {		
					padding:25px;	
					display: inline-block;	
					&.active, &.active:hover {
						background-color:white;
						color:black;					
					}	
					&:hover {
						background-color:$headerHoverBackground;
					}
				}
			}
		}
		@media screen and (max-width: $break-large) {
    		display:none;
		}
	}
	.profile {
		@include span(2 of 12);	
		text-align:center;
		a {
			padding:25px;
			display: inline-block;
			text-transform: capitalize;
			&:hover {
				background-color:$headerHoverBackground;
			}
			span {
				margin-left:5px;
			}
		}
		@media screen and (max-width: $break-large) {
    		@include span(4 of 12);
    		margin-right:0;
    		text-align:right;
		}
	}
	.search {
		@include span(1 of 12);
		margin-right:0;
		.circle {
			width: 35px;
		    height: 35px;
		    border-radius: 50%;
		    background-color: white;
		    margin-top: 16px;
		    p {
		    	margin-top: 9px;
			    width: 100%;
			    text-align: center;
			    cursor:pointer;
		    }
		}
		@media screen and (max-width: $break-large) {
    		display:none;
		}
	}
}